################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WeatherApi/.config
/WeatherApi/bin
/WeatherApi/obj/Debug/net8.0
/WeatherApi/obj/publish/win-x64
/WeatherApi/obj/Release/net8.0
/WeatherApi/obj/WeatherApi.csproj.EntityFrameworkCore.targets
/WeatherApi/Properties/PublishProfiles
